<header id="nav">
  <a href="#about">About.</a>
  <a href="#work">Work.</a>
  <a href="/jare_fagbemi_resume.pdf" target="_blank">Résumé.</a>
  <a href="https://www.linkedin.com/in/jarefagbemi" target="_blank">LinkedIn.</a>
  <a href="http://github.com/ofagbemi" target="_blank">GitHub.</a>
  <a href="mailto:jifagbemi@gmail.com">Contact.</a>
</header>
