section#splash {
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 10em 0 22em 0;
  
  > h1 {
    text-align: center;
    margin-bottom: 11px;
  }

  > h4 {
    text-align: center;
    font-style: italic;
  }
}
