<section id="about" data-scroll-to>
  <div class="copy">
    <h2>About.</h2>
    <p>
      I’m a master’s student studying human-computer interaction at Stanford
      University. I’m interested in opportunities in design, product management,
      and public service.
    </p>
    <p>
      I’ve done two internships at Google, visual design and front-end
      implementation work on the Stanford HCI Group’s Foundry project, and
      another internship at Polyvore.
    </p>
    <p>
      This summer I’ll be working as an Associate Product Manager Intern at
      Google.
    </p>
  </div>
</section>
