<section id="work">
  <header>
    <h3>Work.</h3>
  </header>

  <section data-scroll-to class="free-stuff">
    <div class="copy">
      <h2>FreeStuff.</h2>
      <p>FreeStuff is an app that allows users to let others know when there’s
        stuff around campus that’s free for the taking. I did the UI/UX design
        and a good chunk of the front-end implementation.</p>
    </div>
  </section>

  <section data-scroll-to class="mission-control">
    <div class="copy">
      <h2>Mission Control.</h2>
      <div class="links">
        <a target="_blank" href="https://www.youtube.com/watch?v=G9TvKX2rt3w">Watch the video</a>
        <a target="_blank" href="http://cam247.herokuapp.com">Play with the prototype</a>
        <a target="_blank" href="https://github.com/ofagbemi/cam-web">See the code</a>
      </div>
      <p>
        Kids grow up fast. Even though just about everyone has a camera in their pocket now, some of the most pivotal moments in children’s lives still prove elusive to capture.
      </p>

      <p>
        Mission Control allows parents and kids to come up with and complete goals together. As kids hit milestones, they take photos along the way, recording momentos of their acheivements and building a gallery of memories that families can enjoy for a lifetime.
      </p>

      <p>
        My team went out in the field to do needfinding and user research. A teammate and I handled the UI design, and I implemented the web application.
      </p>
    </div>
  </section>
</section>
